################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PurchaseSystem/.vs/PurchaseSystem
